---
layout: default
---

<div class="home">
 <div class="col col-12">
      <div class="col col-3">
          <div class="block glass"  style="background:url(assets/paddle.png);background-repeat: no-repeat;background-size: 90%;">
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass">
            <div class="block-body">
                <h2>{{site.title}}</h2>
                <p class="grey-text">Some of us like to track our efforts :) This is not a must if you want to be a part of this feel free to change and modify this page. Find out more in the about page</p>
            </div>
        </div>
      </div>
  </div>
    <div class="col col-12">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">People - Win / Loss</h3>
                <hr>
                {% for person in site.data.persons %}
                <span class="post-meta white-text">{{person.name}}</span>
                <div></div>
                <span class="post-meta white-text">Win: {{person.win}}</span>
                <div class="progress margin-bot"><div class="progress-{{person.win}}"></div></div>
                <span class="post-meta white-text">Loss: {{person.loss}}</span>
                <div class="progress margin-bot"><div class="progress-{{person.loss}}"></div></div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
